.intro
    display flex
    flex-direction: column
    height 100vh
    width 100%
    background-color: $thisBlue
    position: fixed

    &__scroll-cue
        position: absolute
        width 100%
        bottom: 3%
        z-index: 1

        .scroll-cue-text
            -webkit-animation-name: Floatingx;
            -webkit-animation-duration: 3s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: ease-in-out;
            -moz-animation-name: Floating;
            -moz-animation-duration: 3s;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: ease-in-out;
            text-align: center
            font-family: $national
            color: white
            text-transform: uppercase
            text-shadow: 0px 3px 3px #000
            font-weight: 600
            // margin-left: 30px;
            // margin-top: 5px;




    &__byline
        text-align: right
        font-family $national
        color white 
        visibility hidden

        a
            color white
            text-decoration underline white


    &__cover-text
        height 20vh
        position absolute
        bottom 0
        background-color: $thisBlue
        width 100%
        transition: transform 0.35s ease-out;
        z-index: 5
        // display flex
        // flex-direction: column
        // width 100%
        // padding-right 2rem
    
    &__cover-viz
        width 100%
        height 100vh
        pointer-events: none

    &__copy-container
        max-width 40rem
        margin 0 auto        

        .intro-text
            font-family $national
            color white  


@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
} 


.masthead
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.35s ease-out;

    a
        display: block;
        border: none;
        max-width: 9rem;
        margin: 1rem auto;
    
    #wordmark
        fill: #fff;
        fill-opacity: .8;
        display: block;
        width: 100%;

.cover
    // &__top
    //     height 33vh

    &__middle    
        // height 33vh
        height 100%
        display: flex
        flex-direction: row
        justify-content: flex-start
        padding-top 1rem
        padding-right: 1rem;

    // &__bottom     
    //     height 33vh

.country-title
    &__prefix
        font-size 48px
        // font-weight 800
        text-align right
        font-family: $national
        color white

    &__suffix    
        font-size 48px
        font-weight 800
        text-align right
        font-family $national
        color: $thisPink
        text-transform: uppercase


.blurb-container
    margin-bottom: 5rem
    display: flex
    flex-direction: column
    justify-content: space-between
    

.blurb-text
    text-align: right
    color white
    font-family: $national
    font-size: 24px
    padding-bottom: 1rem

.subhed-country    
    color: $thisPink
    font-weight: 800
    font-family: $national
    font-size: 24px

#testmap
    width 500px
    height 500px
    // position relative

.testmap-container
    display flex
    flex-direction: row    

#testmap
    width 500px
    height 500px

.second-test-item
    width 500px
    height 500px

.xxxxx-large
    font-size 48px    

.xxxxxx-large
    font-size 72px

.slide-out-right
    transform: translate(100%,0)

.slide-out-left
    transform: translate(-100%,0)

// .intro
//     display flex
//     flex-direction row
//     height 100vh
//     width 100%

//     &__cover-left
//         margin 0 auto
//         padding 6rem 1rem 3rem 1rem
//         background-color $thisBlue
//         width 50% 
//         display flex
//         justify-content space-evenly
//         flex-direction column
        
    
//         .hed
//             max-width 60rem
//             margin 0 auto
//             text-align center
//             font-family $national
//             color white    
                    
//         .country-hed-container
//             text-align center
//             margin 0


//         .country-hed
//             max-width 60rem
//             margin 0 auto
//             text-align left
//             font-family $national
//             color $thisSalmon
//             font-size: 72px
//             font-weight: 800
//             border-bottom: 3px dashed $thisSalmon
        
//         .dek
//             max-width $column-width
//             margin 0 auto
//             text-align left
            
//         .byline
//             max-width $column-width
//             margin 0 auto
//             text-align center
//             font-family: $national
//             color white
//             a
//                 color white
//                 border-bottom: 1px solid white
                
            
//         .time
//             display block
//             max-width $column-width
//             font-family $national
//             margin 0 auto
//             margin-top 1rem
//             text-align center
//             color gray
        
//         .blurb
//             color white
//             font-family $tiempos
//             max-width 60rem
//             margin 0 auto
//             text-align: left

//             .subhed-country
//                 color $thisSalmon
//                 border-bottom: 1px dashed $thisSalmon
//                 font-weight: 600
    
//     &__right
//         width 50%
//         height 100%
//         background linear-gradient(
//             rgba(145,144,186,0.8),
//             rgba(145,144,186,0.8)
//         ),url(../assets/images/canada.png);