.intro
    display flex
    flex-direction: row
    height 100vh
    width 100%
    background-color: $thisBlue

    &__cover-left
        height 100vh
        display flex
        flex-direction: column
        width 50%
        padding-right 2rem
    
    &__cover-right
        width 50%

    &__copy-container
        max-width 40rem
        margin 0 auto        

        .intro-text
            font-family $national
            color white  

.masthead
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    a
        display: block;
        border: none;
        max-width: 9rem;
        margin: 1rem auto;
    
    #wordmark
        fill: #fff;
        fill-opacity: .8;
        display: block;
        width: 100%;

.cover
    &__top
        height 33vh

    &__middle    
        height 33vh
        display: flex
        flex-direction: column
        justify-content: flex-end

    &__bottom     
        height 33vh

.country-title
    &__prefix
        font-size 48px
        font-weight 800
        text-align right
        font-family: $national
        color white

    &__suffix    
        font-size 96px
        font-weight 800
        text-align right
        font-family $national
        color: $thisPink
        text-transform: uppercase


.blurb-container
    margin-bottom: 5rem
    

.blurb-text
    text-align: right
    color white
    font-family: $national
    font-size: 24px

.subhed-country    
    color: $thisPink
    font-weight: 800
    font-family: $national
    font-size: 24px

#testmap
    width 500px
    height 500px
    // position relative

.testmap-container
    display flex
    flex-direction: row    

#testmap
    width 500px
    height 500px

.second-test-item
    width 500px
    height 500px

.xxxxx-large
    font-size 64px    

.xxxxxx-large
    font-size 96px

// .intro
//     display flex
//     flex-direction row
//     height 100vh
//     width 100%

//     &__cover-left
//         margin 0 auto
//         padding 6rem 1rem 3rem 1rem
//         background-color $thisBlue
//         width 50% 
//         display flex
//         justify-content space-evenly
//         flex-direction column
        
    
//         .hed
//             max-width 60rem
//             margin 0 auto
//             text-align center
//             font-family $national
//             color white    
                    
//         .country-hed-container
//             text-align center
//             margin 0


//         .country-hed
//             max-width 60rem
//             margin 0 auto
//             text-align left
//             font-family $national
//             color $thisSalmon
//             font-size: 72px
//             font-weight: 800
//             border-bottom: 3px dashed $thisSalmon
        
//         .dek
//             max-width $column-width
//             margin 0 auto
//             text-align left
            
//         .byline
//             max-width $column-width
//             margin 0 auto
//             text-align center
//             font-family: $national
//             color white
//             a
//                 color white
//                 border-bottom: 1px solid white
                
            
//         .time
//             display block
//             max-width $column-width
//             font-family $national
//             margin 0 auto
//             margin-top 1rem
//             text-align center
//             color gray
        
//         .blurb
//             color white
//             font-family $tiempos
//             max-width 60rem
//             margin 0 auto
//             text-align: left

//             .subhed-country
//                 color $thisSalmon
//                 border-bottom: 1px dashed $thisSalmon
//                 font-weight: 600
    
//     &__right
//         width 50%
//         height 100%
//         background linear-gradient(
//             rgba(145,144,186,0.8),
//             rgba(145,144,186,0.8)
//         ),url(../assets/images/canada.png);