<section class='explore community'>
    <div class='explore__title community'>Community migration</div>
    <div class='explore__viz community'>
        <nav class='explore__nav-bar community'></nav>
        <div class='explore__map-container' id='map-community'></div>
    </div>
</section>