<section class='explore economic'>
    <div class='explore__title economic'>Economic migration</div>
    <div class='explore__viz economic'>
        <nav class='explore__nav-bar economic'></nav>
        <div class='explore__map-container' id='map-economic'></div>
    </div>
</section>