<section class='explore'>
    <div class='explore explore__header'>Explore for yourself</div>
    <div class='explore explore__viz'>
        <nav class='explore explore__nav-bar'>
            <div class='nab-bar nav-title'>Select country</div>
            <ul class='nav-bar button-list'></ul>
            {{!-- <div class='explore bottom fade'></div> --}}
            <div class='explore explore__expand-tab'>
                <div class='triangle-left collapsed'>
                    {{!-- <span>—</span> --}}
                </div>
            </div>
        </nav>
        <div class='explore explore__chart' id='map-explore'></div>
    </div>
</section>
