<div class='intro'>
    <div class="masthead"><a href="https://www.pudding.cool"><svg id="wordmark" x="0px" y="0px"
                style="enable-background:new 0 0 192.6 50;" xml:space="preserve" viewBox="0 0 192.6 50">
                <g>
                    <path class="st0"
                        d="M150.1,9.5c1.5,0,2.8,1.3,2.8,2.8s-1.3,2.8-2.8,2.8s-2.8-1.3-2.8-2.8S148.6,9.5,150.1,9.5z">
                    </path>
                    <path class="st0" d="M147.2,17.3h5.6v18.2h-5.6V17.3z"></path>
                    <path class="st0" d="M77.1,9.5h-1.9h-7v19.3v6.7h5.6v-6.7v-1.4h1.4h1.9c4.9,0,8.9-4,8.9-8.9S82.1,9.5,77.1,9.5z M77.1,21.8h-1.9
		h-1.4v-1.4v-3.8v-1.4h1.4h1.9c1.8,0,3.3,1.5,3.3,3.3S79,21.8,77.1,21.8z"></path>
                    <path class="st0" d="M105.7,17.6h-5.6v8.9c0,1.8-1.5,3.3-3.3,3.3s-3.3-1.5-3.3-3.3v-8.9h-5.6v8.9c0,4.9,4,8.9,8.9,8.9
		s8.9-4,8.9-8.9V17.6z"></path>
                    <path class="st0" d="M164.1,17.6c-4.9,0-8.9,4-8.9,8.9v8.9h5.6v-8.9c0-1.8,1.5-3.3,3.3-3.3s3.3,1.5,3.3,3.3v8.9h5.6v-8.9
		C173,21.6,169,17.6,164.1,17.6z"></path>
                    <path class="st0"
                        d="M119.7,16.2v1.4h-1.4h-1.9c-4.9,0-8.9,4-8.9,8.9s4,8.9,8.9,8.9h1.9h7V16.2V9.5l-5.6,3.3
		C119.7,12.8,119.7,16.2,119.7,16.2z M119.8,24.6v3.8v1.4h-1.4h-1.9c-1.8,0-3.3-1.5-3.3-3.3s1.5-3.3,3.3-3.3h1.9h1.4V24.6z"></path>
                    <path class="st0" d="M139.3,16.2v1.4h-1.4H136c-4.9,0-8.9,4-8.9,8.9s4,8.9,8.9,8.9h1.9h7V16.2V9.5l-5.6,3.3V16.2z M139.4,24.6v3.8
		v1.4h-1.5H136c-1.8,0-3.3-1.5-3.3-3.3s1.5-3.3,3.3-3.3h1.9h1.4v1.4H139.4z"></path>
                    <path class="st0" d="M183.7,17.6c-4.9,0-8.9,4-8.9,8.9s4,8.9,8.9,8.9h1.9h1.4v1.4v0.9v1.4v1.4c0,1.8-1.5,3.3-3.3,3.3
		s-3.3-1.5-3.3-3.3V38l-5.6,3.3c0.4,4.5,4.2,8.1,8.9,8.1c4.9,0,8.9-4,8.9-8.9v-1.4v-2.3V17.6h-7H183.7z M187,23.4v1.4v3.8V30h-1.4
		h-1.9c-1.8,0-3.3-1.5-3.3-3.3s1.5-3.3,3.3-3.3h1.9C185.6,23.4,187,23.4,187,23.4z"></path>
                    <path class="st0" d="M28.6,17.6c-1.2,0-2.3,0.2-3.3,0.6V9.5l-5.6,3.3v13.7v2v6.9h5.6v-6.9l0,0v-2c0-1.8,1.5-3.3,3.3-3.3
		s3.3,1.5,3.3,3.3v8.9h5.6v-8.9C37.5,21.6,33.5,17.6,28.6,17.6z"></path>
                    <path class="st0" d="M17.8,9.5H0v5.6h6.1v20.3h5.6V15.1h6.1V9.5z"></path>
                    <path class="st0" d="M48.3,30.2c-0.4,0-1.2-0.1-1.8-0.4l5.2-2.1l5.6-2.3l-1-2.3l-0.1-0.2c-0.1-0.3-0.3-0.6-0.5-1
		c-0.1-0.1-0.1-0.2-0.2-0.3c0,0,0-0.1-0.1-0.1l-0.1-0.1l-0.1-0.1c-1.6-2.2-4-3.5-6.7-3.7l0,0h-0.6c-4.9,0-8.9,4-8.9,8.9
		c0,0.4,0,0.9,0.1,1.4l0,0V28c0,0,0,0,0,0.1c0,0,0,0,0,0.1c0,0.3,0.1,0.5,0.2,0.8v0.1v0.1c0.1,0.3,0.2,0.7,0.4,1v0.1v0.1
		c0.1,0.3,0.3,0.5,0.4,0.8c0,0.1,0.1,0.1,0.1,0.2l0,0c0.1,0.2,0.3,0.4,0.4,0.6c0,0,0,0,0,0.1c0,0,0,0.1,0.1,0.1l0.1,0.1
		c1.7,2.1,4.4,3.4,7.2,3.4h6.1v-5.2C54.5,30.2,50.6,30.2,48.3,30.2L48.3,30.2z M56.2,22.9L56.2,22.9L56.2,22.9z M44.6,25.7
		L44.6,25.7l-0.2,0.1c0.2-1.9,1.8-3.5,3.7-3.5c0.9,0,1.8,0.4,2.4,0.9L46.2,25L44.6,25.7L44.6,25.7z"></path>
                </g>
            </svg></a></div>



    <div class='intro__cover-viz' id='map-intro'>
        <div class='blurb intro__blurb in-sight-intro'>
            <p class='blurb blurb-title'>America's Diasporas</p>
            <p class='blurb blurb-text'>America has long been called a nation of immigrants, so we began to wonder where
                other
                countries' diasporas were located within the US.
                Through US census data, we calculated the proportion of total foreign-born residents in each census
                region
                (called PUMA), and found the area with
                the highest proportion of each country’s population. This boils down to us finding the regions where a
                particular country’s diaspora is likely located:
                whether Norwegians and Kuwaitis moving to Houston to work in oil, or Little Sri Lanka, in New York's
                Staten
                Island, we sought to showcase where immigrants
                coming to America have settled </p>
            <div class='blurb intro__button'>Click here to explore</div>
        </div>
        <div class='misc-info outta-sight-info'>
            <img class='misc-info__info' src="assets\images\info.svg">
            <img class='misc-info__method' src="assets\images\help-circle.svg">
        </div>
        <div class='method outta-sight-intro'>
            <p class='method-title'>METHOD</p>
            <p class='author'>
                by <span class='author-name'><a href='https://pudding.cool/author/ilia-blinderman/'>Ilia
                        Blinderman</a></span>
                and <span class='author-name'><a href='https://pudding.cool/author/isabel-carter/'>Izii
                        Carter</a></span>
            </p>
            <p class='method-text'>The 2018 release of IPUMS data was the bedrock of this project (Steven
                Ruggles, Sarah Flood, Ronald Goeken, Josiah Grover,
                Erin Meyer, Jose Pacas and Matthew Sobek. IPUMS USA: Version 9.0 [dataset]. Minneapolis, MN: IPUMS,
                2019. https://doi.org/10.18128/D010.V9.0). Specifically,
                we selected the following variables from the IPUMS data: YEAR (Census year), SAMPLE (IPUMS sample
                identifier), SERIAL (Household serial number),
                CBSERIAL (Original Census Bureau household serial number), HHWT (Household weight), CLUSTER (Household
                cluster for variance estimation),
                STATEFIP (State (FIPS code)), PUMA (Public Use Microdata Area), STRATA (Household strata for variance
                estimation), GQ (Group quarters status),
                PERNUM (Person number in sample unit), PERWT (Person weight), BPL (Birthplace [general version]), and
                BPLD (Birthplace [detailed version]). For each PUMA, we
                calculated the percentage of each foreign-born population (e.g., for Brazil, Canada, Nigeria, etc.). We
                then examined each foreign-born population, and found
                the PUMA that contained its highest percentage, using this as a proxy of diaspora presence. This measure
                is certainly not perfect, and due to the
                variation in PUMA shape, we may have missed some important immigration hubs. Additionally, because this
                measure exclusively focuses on foreign-born individuals,
                second- and third-generation communities are less likely to be represented in our research.</p>
            <div class='close-method'>CLICK TO CLOSE</div>
        </div>
        <nav class='explore explore__nav-bar'>
            <div class='nab-bar nav-title'>Select country</div>
            <ul class='nav-bar button-list'></ul>
            {{!-- <div class='explore bottom fade'></div> --}}
            <div class='explore explore__expand-tab'>
                <div class='triangle-left'>
                    {{!-- <span>—</span> --}}
                </div>
            </div>
        </nav>
    </div>




</div>
{{!-- <div class='intro__copy-container'>
    {{#each doc.intro}}
    <p class='intro-text'>{{{value}}}</p>
    {{/each}}
</div> --}}