<section class='method'>
    <div class='method method__title'>Method</div>
    <div class='method method__body'>
        {{#each doc.method}}
        <p class='method-text'>{{{value}}}</p>
        {{/each}}
    </div>
</section>