<section class='explore political'>
    <div class='explore__title political'>Political migration</div>
    <div class='explore__viz community'>
        <nav class='explore__nav-bar political'></nav>
        <div class='explore__map-container' id='map-political'></div>
    </div>
</section>